<div class="book">
				<p><%= link_to "<i class=\"glyphicon glyphicon-remove\"></i>".html_safe, [book.category, book], remote: true, method: :delete%>
				<%= link_to book.title, book.link %> </p>
				
				<p><%= book.description %></p>
			</div>