<div class="chapters">
	<% book.chapters.each do |chapter| %>
		<div class="chapter" data-id="<%= chapter.id %>">
			<%= render chapter, chapter: chapter %>	
		</div>
	<% end %>

	<%= link_to "Add Chapter", new_category_book_chapter_path(book.category, book), class: 'btn btn-default', remote: true %>
</div>