var $bookdiv = $('div.book[data-id="<%= @book.id %>"]');
$formNewChapter = $bookdiv.find(".formNewChapter");
$chapters = $bookdiv.find(".chapters");
$formNewChapter.html("");
$formNewChapter.hide();
$chapters.append("<div class=\"chapter\"><%= escape_javascript(render 'chapter', chapter: @chapter) %></div>");
$bookdiv.find(".addChapterLink").show();