// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

.tools{
	float:right;
	text-align:right;
	a{
		color:#d7d7d7!important;
		&:hover,&:active{
			color: #7e7e7e!important;
		}
	}
}

.chapter{
	background-color: #fbfbfb;
	border:1px solid lightGray;
	padding: 10px;
	margin-bottom:3px;
}

.categoryTitle{
	a{
		font-size:2em;
	}
	margin-top: 50px;
	padding-left: 70px;
}

.collapseButton{
	cursor: pointer; cursor: hand;
}

.shelf{

	.borderTop,.borderBottom,.borderBetween{
		border: 1px solid black;
		height:5px;
		width:98%;
	}

	.borderTop,.borderBetween{
		border-bottom: none;
	}
	.borderBottom,.borderBetween{
		border-top:none;
	}

	.book{
		background-color: #F0F0F0;
		padding:6px;
		a{
			color:black;
			&:active,&:hover{
				text-decoration:underline;
			}
			font-size:1.2em;
		}
	}

	.formNewBook{
		form {
			padding:0;
			margin:0;
			display:inline;
			input{
				padding:0.75em;
				width:85%;
				border:1px solid #999;
				height:3em;
				border-radius:3px;
			}
			.submitButton{
				width:14%;
			}
			
			input[type="submit"]::-moz-focus-inner { 
			    border: 0px;
			    padding: 0px;  
			}
		}
	}
}


