<div class="categoryHeader">
	<%= render 'categoryTitle', category: category %>
</div>

<div class="shelf collapse in">
	<div class="borderTop center-block"></div>

	<div class="categorybooks">
		<% category.books.each do |book| %>
			<%= render book, book: book %>
		<% end %>
	</div>

	<div class="formNewBook">
		<%= render 'shared/formCategoryBook', category: category %>
	</div>

	<div class="borderBottom center-block "></div>
</div>
