<div class="categoryTitle">
	<div class="tools">
		<%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_category_path(category), remote: true%>
		<%= link_to "<i class=\"glyphicon glyphicon-remove\"></i>".html_safe, category, method: :delete, remote: true, data: {confirm: "You sure?"} %> 
	</div>

	<%= link_to category.name, {}, {name: category.id} %>

	<a data-toggle="collapse-next" data-target=".shelf" class="collapseButton">
	<i class="glyphicon glyphicon-chevron-down"></i>
	</a>
</div>