<p>
	Here's where I keep the things other people have made that I think are worth keeping.
</p>

<ul id="errors"></ul>

<%= render 'shared/list', categories: @categories %>

<p id="add_link"><%= link_to 'Add a Category', new_category_path, remote: true, id: 'link_add_cat', class: 'btn btn-default'%></p>

<div id="add_category" style="display:none;">
</div>

<script>
$(document).ready(function(){
	$('#bookshelfSidebar').html("<%= escape_javascript(render 'links', categories: @categories) %>")
});

</script>