<p>
	Here's where I keep the things other people have made that I think are worth keeping.
</p>

<ul id="errors"></ul>

<%= render 'shared/list', categories: @categories %>

<p id="add_link"><%= link_to 'Add a Category', new_category_path, remote: true, id: 'link_add_cat', class: 'btn btn-default'%></p>

<div id="add_category" style="display:none;">
</div>

<script>
$('body').on('click.collapse-next.data-api', '[data-toggle=collapse-next]', function() {
    var $target = $(this).parent().next()
    $target.data('bs.collapse') ? $target.collapse('toggle') : $target.collapse()    
});

$(document).ready(function(){
	$('#bookshelfSidebar').html("<%= escape_javascript(render 'links', categories: @categories) %>")
})

$('.formNewBook')
    .on("ajax:beforeSend", function(){
        var input = $(this).find('.book-input')
        input.prop('disabled', true)
    })
    .on("ajax:success", function(evt, data, sts){
        var input = $(this).find('.book-input')
        input.prop('disabled', false)
        input.val('')
    })

</script>