<p>
	Here's where I keep the things other people have made that I think are worth keeping.
</p>
<p>
	Implementation steps:
</p>
<p>
	<strike>1. No categories. It's just a list of links (no titles) that I can add to with the form at the bottom (but I have to refresh to see it). New things automatically get added at the end.<br />
	3. Get the title of the website and store it.<br />
	4. Optionally add a description (text) that can include quotes or a summary.<br />
	5. Add categories.<br />
	6. Make things look nice. Have things organized. Make the new category hidden. Have the new link thing be a simpler button. Categories should collapse.<br />
	0. Add in all the things I want to have on here! <br />
	2. Make the form AJAX so the added thing appears immediately.<br />
	6. I need to fix the thing that it's expanding all of them.<br />
	7. Add editing. Should be able to edit both the title and the description.<br /></strike>
	8. Fix bug with reloading after editing.<br /></strike>
	8. Add a subcategory to books, "Chapters", which includes some good articles or quotes.<br />
	8. Allow the option for non-url adds. Don't allow empty adds.<br />
	9. Fix bug with create book.<br />
	10. Delete category is broken. Empty the input box after create, or reload category.<br />
	7. Show when a website has been updated.<br />
	6. Add a chrome app.<br />
	7. Make it look *even* nicer: maker the crosses nice, move the new category link to the top, add pagination, reverse order, add edit button to category, make textareas bigger.<br />
	8. User control. Use recommended authentication gem.<br />
	8. Add rearranging through click and drag. http://jqueryui.com/sortable/<br />
	8. Use cookies so that things that were uncollapsed stay uncollapsed, even on AJAX reloads (see jquery cookie, also see HTML5 LocalStorage).<br/>
	9. Make it available offline with syncing.<br />
</p>
<ul id="errors"></ul>

<%= render 'shared/list', categories: @categories %>

<p id="add_link"><%= link_to 'Add a Category', new_category_path, remote: true, id: 'link_add_cat'%></p>

<div id="add_category" style="display:none;">
</div>

<script>
$('body').on('click.collapse-next.data-api', '[data-toggle=collapse-next]', function() {
    var $target = $(this).parent().next()
    $target.data('bs.collapse') ? $target.collapse('toggle') : $target.collapse()    
});
</script>